# Default ignored files
/../../FootballFederation /.idea/shelf/
/../../FootballFederation /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../FootballFederation /.idea/httpRequests/
# Datasource local storage ignored files
/../../FootballFederation /.idea/dataSources/
/../../FootballFederation /.idea/dataSources.local.xml
